<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="javascripts/jquery-1.10.1.min.js"></script>
    <script src="javascripts/Math.uuid.js"></script>
    <script src='javascripts/spy.js'></script>
    <script>
      $(document).ready(function(){
        var spy = new SpyJS();
        $('#userid').html('Ваш уникальный идентификатор: <b>'+spy.info.userid+'</b>');
      });
    </script>
  </head>
  <body>
    <h1>Выберите эксперимент:</h1>
    <ul>
        <li><a href="puzzle.html">Головоломка "Пятнашки"</a></li>
        <li><a href="typing.html">Клавиатурный тренажер</a></li>
    </ul>
    <div style="color: gray;" id="userid"></div>
  </body>
</html>