<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="javascripts/jquery-1.10.1.min.js"></script>
    <script src="javascripts/Math.uuid.js"></script>
    <script src='javascripts/spy.js'></script>
    <script>
      var spy = null;
      $(document).ready(function(){
        spy = new SpyJS();
        $('#userid').html(spy.info.userid);
      });
    </script>
  </head>
  <body>
    <h1>Выберите эксперимент:</h1>
    <ul>
        <li><a href="puzzle.html">Головоломка "Пятнашки"</a></li>
        <li><a href="typing.html">Клавиатурный тренажер</a></li>
    </ul>
    <div style="color: gray;">Ваш уникальный идентификатор [ <a href="" onclick="spy.remove(); location.reload(); return false;">сменить</a> ]:</div>
    <div id="userid" style="color: gray; font-weight: bold;"></div>
  </body>
</html>