<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h1>Выберите эксперимент:</h1>
    <ul>
        <li><a href="puzzle.html">Головоломка</a></li>
        <li><a href="typing.html">Клавиатурный тренажер</a></li>
    </ul>
  </body>
</html>